.first-section-bottom_work{
  height: 290px;
}

.itle-bg_work{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/sprite/works_header.svg");
}

.works-ex{
  font-size: 0;
  height: 750px;
  background-color: #f0efe9;
}

.works-ex__left{
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 50%;
  position: relative;
  background-color: #f0efe9;
}

.works-ex__left-content{
  width: 420px;
  height: 255px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.works-ex__left-content-wrapper{
  width: 100%;
  height: 100%;
  text-align: center;
}
.works-ex__left-title{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'BERNIERRegular-Regular';
  font-size: 35px;
  position: relative;
  width: 272px;
  margin-bottom: 40px;
}

.works-ex__left-title:before{
  content: "";
  width: 22px;
  height: 5px;
  background-color: #c3c4c0;
  position: absolute;
  left: -44px;
  top: 50%;
  transform: translateY(-50%);
}

.works-ex__left-title:after{
  content: "";
  width: 22px;
  height: 5px;
  background-color: #c3c4c0;
  position: absolute;
  position: absolute;
  right: -44px;
  top: 50%;
  transform: translateY(-50%);
}


.works-ex__left-skils{
  width: 100%;
  font-family: 'Roboto-Medium';
  color: #20b5a1;
  font-size: 16px;
  box-sizing: border-box;
  border-top: 1px solid #20b5a1;
  border-bottom: 1px solid #20b5a1;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.left-prewie{
  background-color: #00bfa5;
  display: inline-block;
  padding: 15px 18px;
  border-radius: 4px;
  text-decoration: none;

}

.left-prewie__ico{
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 15px;
  fill: #fff;
}

.left-prewie__img{
  width: 20px;
  height: 15px;
}

.left-prewie__text{
  display: inline-block;
  vertical-align: middle;
  font-family: 'Roboto-Medium';
  font-size: 16px;
  color: #fff;
}

.works-ex-right{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 100%;
}

.works-ex-right__prewie{
  height: 525px;
  width: 600px;
  background-color: #efebe0;
  position: relative;
}

.works-ex-right__img-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.works-ex-right__button-down{
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 300px;
  height: 225px;
  background-image: url("../img/bgDown.png");
  background-position: center center ;
}

.works-ex-right__button-up{
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 300px;
  height: 225px;
  background-image: url("../img/bgUP.png");
  background-position: center center ;
}

.button-down__img{
  width: 43px;
  height: 27px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  fill: #fff;
}

.button-up__img{
  width: 43px;
  height: 27px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  fill: #fff;
}

.speak{
  position: relative;
  font-size: 0;
}

.title-text__speak{
  width: 400px;
}

.title-bg_speak{
  top: 0;
  padding-top: 70px;
  padding-bottom: 70px ;
}

.comment{
  position: relative;
  height: 900px;
  width: 100%;
  background-image: url("../img/bg_comment.png");
}

.comment__left{
  display: inline-block;
  vertical-align: top;
  height: 230px;
  width: 50%;
}

.comment__right{
  display: inline-block;
  vertical-align: top;
  height: 230px;
  width: 50%;
}

.comment__item{
  width: 365px;
  height: 230px;
  padding-right: 37px;
}

.comment__quote{
  width: 100%;
  padding-bottom: 30px;
}

.comment__desc{
  font-family: 'Roboto-Regular';
  font-size: 16px;
  color: #455a64;
  padding-bottom: 28px;
}

.comment__user-photo{
  width: 77px;
  height: 77px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
}

.comment__user-img{
  width: 100%;
  height: 100%;

}

.user__data{
  display: inline-block;
  vertical-align: middle;
  padding-left: 23px;
}

.comment__user-name{
  font-family: 'Roboto-Bold';
  font-size: 16px;
  color: #20b5a1;
}

.comment__user-position{
  font-family: 'Roboto-Regular';
  font-size: 16px;
  color: #20b5a1;

}
.left{
  float: right;
}

.rigrt{
  float: left;
}

.comment-form{
  min-height: 440px;
  width: 380px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(195, 183, 179, 0.2);
  border-radius: 4px;
  overflow: hidden;
}


.comment-form__title{
  text-align: center;
}

.comment-form__title-text{
  font-family: 'BERNIERRegular-Regular';
  font-size: 35px;
  color: #455a64;
  display: inline-block;
  position: relative;
  margin-top: 38px;
  margin-bottom: 38px;
}

.comment-form__title-text:before{
  content: "";
  width: 22px;
  height: 5px;
  background-color: #c3c4c0;
  position: absolute;
  left: -44px;
  top: 50%;
  transform: translateY(-50%);

}

.comment-form__title-text:after{
  content: "";
  width: 22px;
  height: 5px;
  background-color: #c3c4c0;
  position: absolute;
  position: absolute;
  right: -44px;
  top: 50%;
  transform: translateY(-50%);
}
.inut-container{
  color: #373e42;
  font-family: 'Roboto-Regular';
  font-size: 16px;
}

.comment-form__name{
  height: 45px;
  width: 340px;
  border-radius: 4px;
  border: none;
  margin-bottom: 20px;
  margin-left: 19px;
  padding-left: 20px;
  box-sizing: border-box;
}

.comment-form__email{
  height: 45px;
  width: 340px;
  border-radius: 4px;
  border: none;
  margin-bottom: 20px;
  margin-left: 19px;
  padding-left: 20px;
  box-sizing: border-box;

}

.comment-form__message{
  border-radius: 4px;
  border: none;
  height: 140px;
  width: 336px;
  resize: none;
  margin-left: 19px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 15px;
  box-sizing: border-box;

}

.comment-form__button{
  font-size: 0;
}

.comment-form__send{
  display: inline-block;
  color: #ffffff;
  font-family: 'Roboto-Medium';
  font-size: 16px;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 17px;
  padding-left: 55px;
  padding-right: 55px;
  background-color: #00af9b;
  border: none;
}

.comment-form__clear{
  display: inline-block;
  color: #ffffff;
  font-family: 'Roboto-Medium';
  font-size: 16px;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 17px;
  padding-left: 55px;
  padding-right: 55px;
  background-color: #007978;
  border:none;

}
.comment-arrov{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.comment-arrov__img{
  width: 26px;
  height: 16px;
  fill: #fff;

}








