$greenlight:#00bfa5;
$greendarc:#009688;
$white: #efeee9;
$beige: #eeebdf;
$green: #10c1a8;

@import 'common/adjustment';
@import 'common/fonts';
@import "normalize";
@import "mixin";

//block
@import "block/socials__header";
@import "block/hamburger";
@import "block/Title";
@import "block/User";
@import "block/workDescription";
@import "block/workSlider";
@import "block/feedback";
@import "block/arrow";
@import "block/comment";
@import "block/aboutMe";
@import "block/skills";
@import "block/contacts";
@import "block/nav";
@import "block/social-round";
@import "block/nav-blog";
@import "block/blog-content";
@import "block/User-title";
@import "block/welcome";

//layout
@import "layout/topSection";
@import "layout/work";
@import "layout/speak";
@import "layout/secondSection";
@import "layout/map";
@import "layout/footer";
@import "layout/blog";

//@media
@import "media/768-laptop";
@import "media/320-mobile";



