@mixin clearfix{
	&:after{
		content: "";
		display: block;
		clear: both;
	}
}
//Выравнивание по X
@mixin alignmentX{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

//Выравнивание по Y
@mixin alignmentY{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
