.wrapper{
  width: 1200px;
  height: 100%;
  margin: 0 auto;

  &_welcome{
    width: 100%;
    background-image: url("../img/firstSection_bg.png");
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
  }
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

ul{
  margin: 0;
  padding: 0;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}