.blog{
  font-size: 0;

  &__left{
    width: 25%;
    display: inline-block;
    vertical-align: top;
  }

  &__right{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 75%;
    padding-top: 69px;
    padding-left: 100px;
  }
}
