.footer{
  width: 100%;
  background-color: #3d5556;

  &__top{
    width: 100%;
    min-height: 75px;
    border-bottom: 1px solid #656a6d;
    box-sizing: border-box;
    position: relative;
  }

  &__bot{
    position: relative;
    width: 100%;
    min-height: 75px;
    font-size: 0;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;

    &-left{
      position: relative;
      width: 50%;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    &-right{
      position: relative;
      width: 50%;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      text-align: right;
    }
  }

  &__desc{
    width: 500px;
    height: 100%;
    color: #ffffff;
    font-family: 'Roboto-Light';
    font-size: 15px;
    box-sizing: border-box;
    opacity: 0.5;
  }

  &__copy{
    height: 100%;
    color: #ffffff;
    font-family: 'Roboto-Light';
    font-size: 15px;
    box-sizing: border-box;
    opacity: 0.5;

    &_welcome{
      position: absolute;
      left: 50%;
      bottom: 30px;
      transform: translateX(-50%);
      color: #ffffff;
      padding: 0;
      display: inline-block;
      font-family: 'Roboto-Light';
      font-size: 15px;
    }
  }
}