.header{
	@include clearfix;
}

.first-section{
	//background-image: url("../img/firstSection_bg.png");
	background-position: center;
	background-size: cover;
	height: 603px;
	position: relative;
	overflow: hidden;
	&__content{
		width: 100%;
		height: 100%;
	}
	&_blog{
		height: 603px;
	}
	&_portfolio{
		background-image: none;
		height: 690px;
	}
}

.portfolio-main-bg{
	position: absolute;
	//top: 0;
	//left: -600px;
	//right: 0;
	//bottom: 0;
	z-index: -1;
	//height: 130%;

	&__img{
		//height: 900px;
		//width: 150%;
	}
}

.portfolio-bg__img{
	width: 100%;
	height: 285px;
	position: absolute;
	top: 285px;
	left: 50%;
	transform: translate(-50%,-50%);
	background-image: url("../img/sprite/portfolio_header.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1128px;
	z-index: 1;
}


.first-section-bottom{
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	height: 106px;
	font-size: 0;
	white-space: nowrap;
	&__left{
		display: inline-block;
		background-image: url("../img/sprite/left_about.svg");
		height: 100%;
		width: 50%;
		position: relative;
		vertical-align: bottom;
		background-size: cover;
		&_blog{
			background-image: url("../img/sprite/left.svg");

		}

		&_work{
			background-image: url("../img/sprite/left_work.svg");
		}
	}
	&__right{
		display: inline-block;
		background-image: url("../img/sprite/right_about.svg");
		height: 100%;
		width: 50%;
		position: relative;
		vertical-align: bottom;
		background-size: cover;

		&_blog{
			background-image: url("../img/sprite/right.svg");

		}

		&_work{
			background-image: url("../img/sprite/right_work.svg");
		}
	}
	&_blog{
		height: 107px;
	}
	&_work{
		height: 290px;
	}

}