.first-section_blog{
  height: 396px;
}

.blog-body{
  font-size: 0;
}

.user-blog-bg{
  background-image: url("../img/sprite/blog_header.svg");
  background-position: center 100px;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

.blog-user__title{
  text-align: center;
}
.blog-user__title-text{
  display: inline-block;
  position: relative;
  font-family: 'BERNIERRegular-Regular';
  text-transform: uppercase;
  color: #fff;
  font-size:63px;
  margin-top: 10px;
}

.blog-user__title-text:after{
  content: "";
  width: 22px;
  height: 5px;
  background-color: #c3c4c0;
  position: absolute;
  position: absolute;
  right: -44px;
  top: 50%;
  transform: translateY(-50%);

}

.blog-user__title-text:before{
  content: "";
  width: 22px;
  height: 5px;
  background-color: #c3c4c0;
  position: absolute;
  position: absolute;
  left: -44px;
  top: 50%;
  transform: translateY(-50%);
}

.blog-user__title-desc{
  width: 100%;
  text-align: center;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  color: #ffffff;
}

.first-section-bottom_blog{
  height: 107px;
}

.first-section-bottom__left_blog{
  background-image: url("../img/sprite/about_bg_left_white.svg");

}

.first-section-bottom__right_blog{
  background-image: url("../img/sprite/about_bg_right_white.svg");

}



///nav

.blog-nav{
  width: 310px;
  display: inline-block;
  vertical-align: top;

}

.blog-nav__items{
  width: 100%;
  padding-top: 69px;
}

.blog-nav__item{
  width: 100%;
  min-height: 42px;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  color: #455a64;
  border-right: 3px solid transparent;
  list-style: none;
  position: relative;
  box-sizing: border-box;
}

.blog-nav__item:hover{
  color: #00bfa5;
  border-color: #00bfa5;
}

.blog-nav__link{
  display: block;
  text-align: right;
  padding-left: 40px;
  box-sizing: border-box;
  padding-right: 15px;
  text-decoration: none;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.blog-nav__item_active{
  color: #00bfa5;
  border-color: #00bfa5;
}

.blog-content{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 790px;
  padding-top: 69px;
  margin-left: 100px;

}

.content__item{
  margin-bottom: 70px;
  padding-bottom: 70px;
  border-bottom:5px solid #f1f1f2;
}

.content__item_end{
  margin-bottom: 0px;
  padding-bottom: 50px;
  border-bottom:none;

}

.content__item-title{
  font-family: 'BERNIERRegular-Regular';
  font-size: 35px;
  color: #455a64;
  padding-bottom: 30px;
}

.content__item-date{
  font-family: 'Roboto-Regular';
  font-size: 16px;
  color: #00bfa5;
  padding-bottom: 30px;
}

.content__item-desc-text{
  font-family: 'Roboto-Regular';
  font-size: 16px;
  color: #455a64;
  margin: 0;
  padding-bottom: 20px;
  text-align: left;
}


