extends ../_template
block content
	.wrapper
		.fs__wrapper
			.fs__bg
			ul.fs-menu
				li.fs-menu__item
					a.fs-menu__link(href="portfolio.html") Мои работы
				li.fs-menu__item
					a.fs-menu__link(href="blog.html") Блог
				li.fs-menu__item
					a.fs-menu__link(href="about.html") Обо мне
				li.fs-menu__item
					a.fs-menu__link(href="index.html") Авторизация
		.first-section
			.portfolio-main-bg
				img.portfolio-main-bg__img(src="/assets/img/firstSection_bg.jpg")
			.portfolio-bg__img
			.first-section__content
				.header
					ul.social
						li.social__item
							a.social__link(href = "#")
								svg.social__img
									use.pic(xlink:href="assets/img/sprite.svg#vk")
						li.social__item
							a.social__link(href = "#")
								svg.social__img
									use.pic(xlink:href="assets/img/sprite.svg#github")
						li.social__item
							a.social__link(href = "#")
								svg.social__img
									use.social__pic(xlink:href="assets/img/sprite.svg#in")
					.hamburger
						a.hamburger__link(href = "#")
							.hamburger__img
							//svg.hamburger__img
							//	use.hamburger__pic(xlink:href="assets/img/sprite.svg#hamburger")
				.user
					.user__photo-wrapper
						.user__photo
							img.user__pic(src="/assets/img/userPhoto.png" alt="User")
					.user__name Владимир Астахов
					.user__desc Личный сайт веб разработчика
				.first-section-bottom
					.first-section-bottom__left
					.first-section-bottom__right
		.second-section
			.second-section__left
				.title-bg
					.title-text ОБО МНЕ
				.about-me
					.about-me__photo-wrapper
						.about-me__photo(style="background-image:url('/assets/img/right-col_user-photo.png')")
					.about-me__title
						.title-text.title-text_about-me Кто я
					.about-me__description
						p.about-me__par Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
						p.about-me__par Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
			.second-section__right
				.title-bg.title-bg_little
					.title-text.title-text_little
						| Чем я могу быть!{br}
						| вам полезен
				.skills
					.skills__desc
						p.skills__desc-content Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
					.skills-set
						.skills-set__title Frontend
						ul.skills-set__items
							li.skills-set__item
								svg.skills-set__circle(viewBox="0 0 100 100")
									circle(cx="50%" cy="50%" r="40").skills-set__circle-under
									circle(cx="50%" cy="50%" r="40").skills-set__circle-above
								.skills-set__desc HTML5
							li.skills-set__item
								svg.skills-set__circle(viewBox="0 0 100 100")
									circle(cx="50%" cy="50%" r="40").skills-set__circle-under
									circle(cx="50%" cy="50%" r="40").skills-set__circle-above
								.skills-set__desc CSS3
							li.skills-set__item
								svg.skills-set__circle(viewBox="0 0 100 100")
									circle(cx="50%" cy="50%" r="40").skills-set__circle-under
									circle(cx="50%" cy="50%" r="40").skills-set__circle-above
								.skills-set__desc JavaScript & jQuery
					.skills-set
						.skills-set__title Backend
						ul.skills-set__items
							li.skills-set__item
								svg.skills-set__circle(viewBox="0 0 100 100")
									circle(cx="50%" cy="50%" r="40").skills-set__circle-under
									circle(cx="50%" cy="50%" r="40").skills-set__circle-above
								.skills-set__desc PHP
							li.skills-set__item
								svg.skills-set__circle(viewBox="0 0 100 100")
									circle(cx="50%" cy="50%" r="40").skills-set__circle-under
									circle(cx="50%" cy="50%" r="40").skills-set__circle-above
								.skills-set__desc mySQL
							li.skills-set__item
								svg.skills-set__circle(viewBox="0 0 100 100")
									circle(cx="50%" cy="50%" r="40").skills-set__circle-under
									circle(cx="50%" cy="50%" r="40").skills-set__circle-above
								.skills-set__desc Node.js & npm
							li.skills-set__item
								svg.skills-set__circle(viewBox="0 0 100 100")
									circle(cx="50%" cy="50%" r="40").skills-set__circle-under
									circle(cx="50%" cy="50%" r="40").skills-set__circle-above
								.skills-set__desc Mongo.db
					.skills-set
						.skills-set__title WorkFlow
						ul.skills-set__items
							li.skills-set__item
								svg.skills-set__circle(viewBox="0 0 100 100")
									circle(cx="50%" cy="50%" r="40").skills-set__circle-under
									circle(cx="50%" cy="50%" r="40").skills-set__circle-above
								.skills-set__desc Git
							li.skills-set__item
								svg.skills-set__circle(viewBox="0 0 100 100")
									circle(cx="50%" cy="50%" r="40").skills-set__circle-under
									circle(cx="50%" cy="50%" r="40").skills-set__circle-above
								.skills-set__desc Gulp
							li.skills-set__item
								svg.skills-set__circle(viewBox="0 0 100 100")
									circle(cx="50%" cy="50%" r="40").skills-set__circle-under
									circle(cx="50%" cy="50%" r="40").skills-set__circle-above
								.skills-set__desc Bower
		.map-section
			.contacts-wrapper
				.contacts
					.contacts__title контакты
					ul.contacts__items
						li.contacts__item
							a.contacts__item-content(href="#")
								.contacts__item-pic
									svg.contacts__item-img
										use.contacts__pic(xlink:href="assets/img/sprite.svg#skype")
								.contacts__item-text skype_kdn
						li.contacts__item
							a.contacts__item-content(href="#")
								.contacts__item-pic
									svg.contacts__item-img
										use.contacts__pic(xlink:href="assets/img/sprite.svg#envelope")
								.contacts__item-text astahov@gmail.com
						li.contacts__item
							a.contacts__item-content(href="#")
								.contacts__item-pic
									svg.contacts__item-img
										use.contacts__pic(xlink:href="assets/img/sprite.svg#phone")
								.contacts__item-text +7 931 200 93 24
						li.contacts__item
							a.contacts__item-content(href="#")
								.contacts__item-pic
									svg.contacts__item-img
										use.contacts__pic(xlink:href="assets/img/sprite.svg#map_marker")
								.contacts__item-text г.Новосибирск, ул. Инская, д. 5
		.footer.footer_about
			.footer__top
				ul.nav.nav_footer
					li.nav__item
						a.nav__link(href="portfolio.html")
							.nav__link-text Мои работы
					li.nav__item
						a.nav__link(href="about.html")
							.nav__link-text Обо мне
					li.nav__item
						a.nav__link(href="blog.html")
							.nav__link-text Блог
					li.nav__item
						a.nav__link(href="autorization.html")
							.nav__link-text Авторизация
				ul.social-round.social-round_position
					li.social-round__item
						a.social-round__link(href="https://vk.com/" target="_blank")
							svg.social-round__item-img
								use.social-round__pic(xlink:href="assets/img/sprite.svg#vk")
					li.social-round__item
						a.social-round__link(href="https://github.com/" target="_blank")
							svg.social-round__item-img
								use.social-round__pic(xlink:href="assets/img/sprite.svg#github")
					li.social-round__item
						a.social-round__link(href="https://www.linkedin.com" target="_blank")
							svg.social-round__item-img
								use.social-round__pic(xlink:href="assets/img/sprite.svg#in")

			.footer__bot
				.footer__bot-left
					.footer__desc Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
				.footer__bot-right
					.footer__copy © Владимир Астахов | создано с любовью в LoftSchool | 2016
	.preloader
		.preloader__spinner
			.preloader__animation
			.preloader__percents 0%
















