extends ../_template
block content
	.wrapper
		.first-section.first-section_blog
			.first-section__content
				.header.clearfix
					ul.social
						li.social__item
							a.social__link(href = "#")
								svg.social__img
									use.pic(xlink:href="assets/img/sprite.svg#vk")
						li.social__item
							a.social__link(href = "#")
								svg.social__img
									use.pic(xlink:href="assets/img/sprite.svg#github")
						li.social__item
							a.social__link(href = "#")
								svg.social__img
									use.social__pic(xlink:href="assets/img/sprite.svg#in")
					.hamburger
						a.hamburger__link(href = "#")
							svg.hamburger__img
								use.hamburger__pic(xlink:href="assets/img/sprite.svg#hamburger")
				.user
					.user__photo-wrapper
						.user__photo
							img.user__pic(src="/assets/img/userPhoto.png" alt="User")
					.blog-user__title
						.blog-user__title-text Блог
					.blog-user__title-desc Статьи, которые я написал
				.first-section-bottom.first-section-bottom_blog
					.first-section-bottom__left.first-section-bottom__left_blog
					.first-section-bottom__right.first-section-bottom__right_blog
		.blog-body
			.blog-nav
				ul.blog-nav__items
					li.blog-nav__item
						a.blog-nav__link Самое важное в SASS
					li.blog-nav__item
						a.blog-nav__link Приёмы в вёрстке, без которых не обходится ни один сайт
					li.blog-nav__item
						a.blog-nav__link Самый необходимый набор Gulp плагинов
					li.blog-nav__item
						a.blog-nav__link Почему я выбрал Jade


			.blog__content