extends ../_template
block content
    .wrapper
        .first-section
            .first-section__content
                .header.clearfix
                    ul.social
                        li.social__item
                            a.social__link(href = "#")
                                svg.social__img
                                    use.pic(xlink:href="assets/img/sprite.svg#vk")
                        li.social__item
                            a.social__link(href = "#")
                                svg.social__img
                                    use.pic(xlink:href="assets/img/sprite.svg#github")
                        li.social__item
                            a.social__link(href = "#")
                                svg.social__img
                                    use.social__pic(xlink:href="assets/img/sprite.svg#in")
                    .hamburger
                        a.hamburger__link(href = "#")
                            svg.hamburger__img
                                use.hamburger__pic(xlink:href="assets/img/sprite.svg#hamburger")
                .user
                    .user__photo-wrapper
                        .user__photo
                            img.user__pic(src="/assets/img/userPhoto.png" alt="User")
                    .user__name Владимир Астахов
                    .user__desc Личный сайт веб разработчика
                .first-section-bottom
                    .first-section-bottom__left
                        .title-bg
                            .title-text ОБО МНЕ

                    .first-section-bottom__right
                        .title-text.title-text_little
                            |Чем я могу быть!{br}
                            |вам полезен
        .second-section
            .second-section__left
                .second-section__photo
                    img.second-section__photo()
                .second-section__title.title-text Кто я
                .second-section__description





            .second-section__right



