extends ../_template
block content
	.wrapper.wrapper_welcome
		ul(id="scene")
			li(class="layer" data-depth="0.00")
				img(src="assets/img/favicon/layer1.png")
			li(class="layer" data-depth="0.20")
				img(src="assets/img/favicon/layer2.png")
			li(class="layer" data-depth="0.40")
				img(src="assets/img/favicon/layer3.png")
			li(class="layer" data-depth="0.60")
				img(src="assets/img/favicon/layer4.png")
			li(class="layer" data-depth="0.80")
				img(src="assets/img/favicon/layer5.png")
			li(class="layer" data-depth="1.00")
				img(src="assets/img/favicon/layer6.png")
			li(class="layer" data-depth="1.00")
				img(src="assets/img/favicon/layer7.png")
			li(class="layer" data-depth="1.00")
				img(src="assets/img/favicon/layer8.png")
			li(class="layer" data-depth="1.00")
				img(src="assets/img/favicon/layer9.png")
			li(class="layer" data-depth="1.00")
				img(src="assets/img/favicon/layer10.png")
		.welcome
			.welcome_container
				.user.user_welcome
					.user__photo-wrapper
						.user__photo
							img.user__pic(src="/assets/img/userPhoto.png" alt="User")
					.user__name.user__name_welcome Владимир Астахов
					.user__desc.user__desc_welcome Личный сайт веб разработчика
				ul.social.social_welcom
					li.social__item.social__item_welcome
						a.social__link.social__link_welcome(href="https://vk.com/" target="_blank")
							svg.social__img.social__img_welcome
								use.social__pic.social__pic_welcome(xlink:href="assets/img/sprite.svg#vk")
					li.social__item.social__item_welcome
						a.social__link.social__link_welcome(href="https://github.com/" target="_blank")
							svg.social__img.social__img_welcome
								use.social__pic.social__pic_welcome(xlink:href="assets/img/sprite.svg#github")
					li.social__item.social__item_welcome
						a.social__link.social__link_welcome(href="https://www.linkedin.com" target="_blank")
							svg.social__img.social__img_welcome
								use.social__pic.social__pic_welcome(xlink:href="assets/img/sprite.svg#in")
				ul.welcome-buttons
					li.welcome-button.welcome-button_portfolio
						a.welcome-button__content.welcome-button__content_border-none(href="portfolio.html") Мои работы
					li.welcome-button.welcome-button_about
						a.welcome-button__content(href="about.html") Обо мне
					li.welcome-button.welcome-button_portfolio.welcome-button_blog
						a.welcome-button__content(href="blog.html") Блог
	a.authorization(href="#") Авторизоваться
	.footer__copy_welcome © Владимир Астахов | создано с любовью в LoftSchool | 2016