extends ../_template
block content
	.wrapper.wrapper_welcome
		.welcome
			.welcome_container
				.user.user__welcome
					.user__photo-wrapper
						.user__photo
							img.user__pic(src="/assets/img/userPhoto.png" alt="User")
					.user__name.user__name_welcome Владимир Астахов
					.user__desc.user__desc_welcome Личный сайт веб разработчика
				ul.social.social__welcom
					li.social__item.social__item_welcome
						a.social__link.social__link_welcome(href="https://vk.com/" target="_blank")
							svg.social__img.social__img_welcome
								use.social__pic.social__pic_welcome(xlink:href="assets/img/sprite.svg#vk")
					li.social__item.social__item_welcome
						a.social__link.social__link_welcome(href="https://github.com/" target="_blank")
							svg.social__img.social__img_welcome
								use.social__pic.social__pic_welcome(xlink:href="assets/img/sprite.svg#github")
					li.social__item.social__item_welcome
						a.social__link.social__link_welcome(href="https://www.linkedin.com" target="_blank")
							svg.social__img.social__img_welcome
								use.social__pic.social__pic_welcome(xlink:href="assets/img/sprite.svg#in")
				ul.welcome-buttons
					li.welcome-button
						a.welcome-button__content.welcome-button__content_border-none(href="portfolio.html") Мои работы
					li.welcome-button
						a.welcome-button__content(href="about.html") Обо мне
					li.welcome-button
						a.welcome-button__content(href="blog.html") Блог
	a.authorization(href="#") Авторизация
	.footer__copy_welcome © Владимир Астахов | создано с любовью в LoftSchool | 2016