extends ../_template
block content
	.wrapper
		.first-section
			.portfolio-bg__img
			.first-section__content
				.header
					ul.social
						li.social__item
							a.social__link(href = "#")
								svg.social__img
									use.pic(xlink:href="assets/img/sprite.svg#vk")
						li.social__item
							a.social__link(href = "#")
								svg.social__img
									use.pic(xlink:href="assets/img/sprite.svg#github")
						li.social__item
							a.social__link(href = "#")
								svg.social__img
									use.social__pic(xlink:href="assets/img/sprite.svg#in")
					.hamburger
						a.hamburger__link(href = "#")
							svg.hamburger__img
								use.hamburger__pic(xlink:href="assets/img/sprite.svg#hamburger")
				.user
					.user__photo-wrapper
						.user__photo
							img.user__pic(src="/assets/img/userPhoto.png" alt="User")
					.user__name Владимир Астахов
					.user__desc Личный сайт веб разработчика
				.first-section-bottom.first-section-bottom_work
					.first-section-bottom__left.first-section-bottom__left_blog
					.first-section-bottom__right.first-section-bottom__right_blog
					.title-bg.title-bg_work
						.title-text МОИ РАБОТЫ
		.works-ex
			.works-ex__left
				.works-ex__left-content
					.works-ex__left-content-wrapper
						.works-ex__left-title Сайт школы онлайн Образования
						.works-ex__left-skils HTML , CSS, JAVASCRIPT
						a.works-ex__prewie(href="#")
							.works-ex__prewie-ico
								svg.works-ex__prewie-img
									use.works-ex__prewie-pic(xlink:href="assets/img/sprite.svg#link")
							.works-ex__prewie-text Посмотреть сайт
			.works-ex__right
				.works-ex-slider__prewie
					.works-ex-slider__img-wrapper
						img.works-ex-slider__img(src="assets/img/worsPrewie.png")
				a.works-ex-slider__button-down(href="#")
					svg.button-down__img
						use.button-down__pic(xlink:href="assets/img/sprite.svg#portf_arrow_down")

				a.works-ex-slider__button-up(href="#")
					svg.button-up__img
						use.button-up__pic(xlink:href="assets/img/sprite.svg#portf_arrow_up")
		.speak
			.title-bg.title-bg_speak
				.title-text.title-text_speak что обо мне говорят
			.comment
				.comment__left
					.comment__item.comment__item_left
						.comment__quote
							img.comment__quote-img(src="assets/img/quote.png")
						.comment__desc Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
						.comment__user
							.comment__user-photo(style="background-image: url('assets/img/User1.png'); background-position-y: -21px;")
								.comment__user-img
							.user__data
								.comment__user-name Ковальчук Дмитрий
								.comment__user-position основатель Loftschool


				.comment__right
					.comment__item.comment__item_rigrt
						.comment__quote
							img.comment__quote-img(src="assets/img/quote.png")
						.comment__desc Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
						.comment__user
							.comment__user-photo
								.comment__user-img(style="background-image: url('assets/img/User2.png');")
							.user__data
								.comment__user-name Сабанцев Владимир
								.comment__user-position преподаватель
			.feedback.feedback_position
				.feedback__title
					.feedback__title-text Связаться со мной
				form.feedback_form
					input.feedback_form__name(type="text" placeholder="Имя")
					input.feedback_form__email(type="email" placeholder="Email")
					textarea.feedback_form__message(placeholder="Ваше сообщение")
					.feedback_form__button
						input.feedback_form__send(type="submit" value="Отправить")
						input.feedback_form__reset(type="reset" value="Очистить")
			a.arrow(href="#")
				svg.arrow__img
					use.arrow__pic(xlink:href="assets/img/sprite.svg#portf_arrow_up")

		.footer
			.footer__top
				ul.nav.nav_footer
					li.nav__item
						a.nav__link(href="portfolio.html")
							.nav__link-text Мои работы
					li.nav__item
						a.nav__link(href="about.html")
							.nav__link-text Обо мне
					li.nav__item
						a.nav__link(href="blog.html")
							.nav__link-text Блог
					li.nav__item
						a.nav__link(href="autorization.html")
							.nav__link-text Авторизация
				ul.social-round.social-round_position
					li.social-round__item
						a.social-round__link(href="https://vk.com/" target="_blank")
							svg.social-round__item-img
								use.social-round__pic(xlink:href="assets/img/sprite.svg#vk_round")
					li.social-round__item
						a.social-round__link(href="https://github.com/" target="_blank")
							svg.social-round__item-img
								use.social-round__pic(xlink:href="assets/img/sprite.svg#github_round")
					li.social-round__item
						a.social-round__link(href="https://www.linkedin.com" target="_blank")
							svg.social-round__item-img
								use.social-round__pic(xlink:href="assets/img/sprite.svg#in_round")

			.footer__bot
				.footer__desc Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
				.footer__copy © Владимир Астахов | создано с любовью в LoftSchool | 2016





