.arrow{
	margin: auto;
	padding-bottom: 80px;
	display: block;
	width: 26px;
	height: 16px;
	
	&__img{
		fill: #fff;
		width: 26px;
		height: 16px;
		opacity: 0.7;

		&:hover{
			opacity: 1;
		}

	}

}
