.nav{
    font-size: 0;

  &{
    padding-top: 30px;
    padding-left: 32px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__item{
    display: inline-block;
    margin-right: 44px;
    list-style: none;

    &:last-child{
      margin-right: 0;
    }

    &:hover .nav__link-text{
      color: #009688;
    }
  }

  &__link{
    text-decoration: none;
  }

  &__link-text{
    font-size: 15px;
    font-family: 'Roboto-Medium';
    color: #ffffff;
  }
}




