.user {
	@include alignmentX;
	top: 154px;
	min-width: 280px;
	z-index: 2;

	&_welcome{
		transform: inherit;
		position: inherit;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	&__wrapper {
		position: relative;

	}

	&__photo-wrapper {
		margin-bottom: 24px;
		&_blog{
			margin-bottom: 18px;
		}
	}

	&__photo {
		width: 140px;
		height: 140px;
		position: relative;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 auto;

		&-wrapper{
			padding-top: 25px;
		}
	}

	&__pic {
		//position: absolute;
		//top: 50%;
		//left: 50%;
		//transform: translate(-50%, -50%);
	}

	&__name {
		color: #ffffff;
		font-family: 'Roboto-Medium';
		font-size: 33px;
		text-align: center;
		margin-bottom: 7px;

		&_welcome {
			padding-top: 10px;
			color: #455a64;
		}
	}

	&__desc {
		font-family: 'Roboto-Light';
		font-size: 16px;
		text-align: center;
		color: #ffffff;

		&_welcome{
			padding-top: 7px;
			color: #455a64;
		}
	}

	&_blog-bg{
		background-image: url("../img/sprite/blog_header.svg");
		background-position: center 136px;
		background-repeat: no-repeat;
		width: 300px;
		height: 300px;
		top: 83px;
	}
}