.works-ex-slider{
	&__prewie{
		height: 525px;
		width: 100%;
		background-color: #efebe0;
		position: relative;
	}

	&__img-wrapper{
		width: 80%;
		height: 79%;
		position: absolute;
		top: 51%;
		left: 49%;
		transform: translate(-50%,-50%);
		background-image: url("../img/worsPrewie.png");
		color: black;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&__button-down{
		display: inline-block;
		position: relative;
		vertical-align: top;
		width: 50%;
		height: 225px;
		background-image: url("../img/bgDown.png");
		background-position: center center ;

		&:hover .button-down__img{
			//background-color: #efebe0;
			//background-image: none;
			//transition: 3s;
			opacity: 1;

		}
	}

	&__button-up{
		display: inline-block;
		position: relative;
		vertical-align: top;
		width: 50%;
		height: 225px;
		background-image: url("../img/bgUP.png");
		background-position: center center ;

		&:hover .button-up__img{
			//background-color: #efebe0;
			//background-image: none;
			//transition: 3s;
			opacity: 1;
		}
	}

	&__img-wrapper{
		width: 75%;
	}

	&__img{
		width: 100%;
	}
}




.button-down__img{
	width: 43px;
	height: 27px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	fill: #fff;
	opacity: 0.7;
}

.button-up__img{
	width: 43px;
	height: 27px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	fill: #fff;
	opacity: 0.7;
}